fastapi==0.110.0
uvicorn[standard]==0.28.0
pydantic==2.6.4
python-dotenv==1.0.0
google-generativeai==0.5.0
chromadb==0.4.24
websockets==12.0
aiohttp==3.9.3
requests==2.31.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.122.0
pyasn1==0.5.1
gTTS==2.3.2
SpeechRecognition==3.10.0
pyaudio==0.2.14
opencv-python==4.9.0.80
pyautogui==0.9.54
paho-mqtt==1.6.1
adbutils==2.4.0
cryptography==42.0.5
